header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 2rem;
}

.navigation-container {
  text-align: start;
}

.menu {
  display: none;
  gap: 2.5rem;
  text-align: start;
}

.expanded .menu {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 37em) {
  header {
    margin-block: 3rem;
  }
  .menu {
    display: flex;
  }
  #toggle-menu {
    display: none;
  }
}

#toggle-menu {
  border: none;
  background-color: white;
  width: min-content;
}

.expanded {
  text-align: end;
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  z-index: 2;
  background-color: white;
  padding: 2rem;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
