* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Adjusted Arial Fallback";
  src: local(Arial);
  size-adjust: 109%;
  ascent-override: 86%;
  descent-override: normal;
  line-gap-override: normal;
}

body {
  font-family: "Inter", "Adjusted Arial Fallback", sans-serif;
  background-color: var(--off-white);
  min-height: 100vh;
  line-height: 1;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--soft-red);
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  list-style-type: none;
}

footer {
  margin-block: 4rem;
}

.main-container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 0.3rem;
}

.image {
  grid-area: image;
}

.title {
  grid-area: title;
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}

.description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.5;
  justify-content: space-between;
}

.description p {
  margin: 0;
  font-size: 1.2rem;
}

.description a {
  background-color: var(--soft-red);
  padding-block: 1rem;
  padding-inline: 2.5rem;
  border: inherit;
  width: max-content;
  color: var(--off-white);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  transition: 0.5s;
}

.description a:hover {
  background-color: var(--very-dark-blue);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "image image"
    "title title"
    "description description"
    "aside aside";
  gap: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 37em) {
  .container {
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
      "image image image aside"
      "title title title aside"
      "description description description aside";
    gap: 1.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {
  .container {
    gap: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
  .container {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: min-content;
    grid-template-areas:
      "image image image image aside aside"
      "title title description description aside aside";
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 75em) {
  .container {
    gap: 3rem;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
