/* ? https://github.com/necolas/normalize.css */
/* ? small CSS file that provides better cross-browser consistency in the default styling of HTML elements. */
@import "normalise.css";

/* || Colors */
@import "colors.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  line-height: 1;
}

body {
  font-family: "Inter", sans-serif;
}

main {
  max-width: 1200px;
  margin: auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--soft-red);
}

button {
  cursor: pointer;
}

nav div {
  display: flex;
  gap: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 3rem;
}

.aside {
  grid-area: aside;
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  padding: 1.5rem;
  line-height: 1.6;
}

aside h1 {
  color: var(--soft-orange);
  font-size: 3rem;
  margin: 0;
}

aside div p {
  color: var(--grayish-blue);
  padding-block-end: 0.5rem;
}

.section-item {
  display: flex;
  gap: 2rem;
  line-height: 1.5rem;
}

.section-item h1 {
  color: var(--grayish-blue);
}

.section-item p:last-child {
  color: var(--dark-grayish-blue);
}

.section-item a {
  font-weight: 800;
}

.section-item-img {
  width: 65%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image {
  grid-area: image;
}

.title {
  grid-area: title;
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}

.description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.5;
  justify-content: space-between;
}

.description p {
  margin: 0;
  font-size: 1.2rem;
}

.description button {
  background-color: var(--soft-red);
  padding-block: 1rem;
  padding-inline: 2.5rem;
  border: inherit;
  width: max-content;
  color: var(--off-white);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  transition: 0.5s;
}

.description button:hover {
  background-color: var(--very-dark-blue);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "image image aside"
    "title description aside";
  gap: 3rem;
}

@media screen and (max-width: 375px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "title"
      "description"
      "aside";
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#mobile-side-menu {
  display: none;
  flex-direction: column;
  gap: 7rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  z-index: 2;
  background-color: white;
  padding: 2rem;
}

#close-menu {
  align-self: end;
}

#close-menu,
#open-menu {
  border: 0;
  background-color: white;
  width: min-content;
}

#mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-block-start: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
