/* ? https://github.com/necolas/normalize.css */
/* ? small CSS file that provides better cross-browser consistency in the default styling of HTML elements. */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--off-white);
  min-height: 100vh;
  line-height: 1;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--soft-red);
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  list-style-type: none;
}

.main-container {
  max-width: 80rem;
  margin-inline: auto;
}

.image {
  grid-area: image;
}

.title {
  grid-area: title;
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}

.description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.5;
  justify-content: space-between;
}

.description p {
  margin: 0;
  font-size: 1.2rem;
}

.description a {
  background-color: var(--soft-red);
  padding-block: 1rem;
  padding-inline: 2.5rem;
  border: inherit;
  width: max-content;
  color: var(--off-white);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  transition: 0.5s;
}

.description a:hover {
  background-color: var(--very-dark-blue);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "image image aside"
    "title description aside";
  gap: 3rem;
}

@media screen and (max-width: 25em) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "title"
      "description"
      "aside";
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-block-start: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
