.section-item {
  grid-column: span 2;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  line-height: 1.5rem;
}

.section-item span {
  color: var(--gray);
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.section-item h3 {
  font-size: 1rem;
}

.section-item h4 {
  font-size: 1rem;
  color: var(--dark-grayish-blue);
  margin: 0;
  font-weight: unset;
}

.section-item img {
  height: 100%;
  object-fit: cover;
}
